canvas {
  display: block;
  background-color: #000000;
  z-index: 0;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}



div#GameOver {
  background-color: white;
  z-index: 10;
  position: absolute;
  color: rgb(151, 151, 151);
  top: 50%;
  left: 50%;
  height: 100px;
  width: 250px;
}

span, a {
  display: block;
  position: absolute;
  z-index: 1;
  color: rgb(151, 151, 151);
  margin-top: 0px;
  text-decoration: none;  
}

#Title {
  left: 50%;
}

#Source {
  left: 97%;
}

a:hover {
  text-decoration: underline;
  color: #1CC8EF;
}