canvas {
  display: block;
  background-color: #000000;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}



div#GameOver {
  display: block;
  background-color: rgb(65, 65, 65);
  position: absolute;
  top: 0%;
  left: 40%;
  padding: 16px;
  text-align: center;
  color: rgb(151, 151, 151);
  margin-top: 400px;
  height: auto;
  width: auto;
  overflow: hidden;
  z-index: 5;
}

div#GameOver button {
  background-color: white;
}

span, a {
  display: block;
  position: absolute;
  z-index: 2;
  color: rgb(151, 151, 151);
  margin-top: 0px;
  text-decoration: none;  
}

#Title {
  left: 50%;
}

#Source {
  left: 97%;
}

a:hover {
  text-decoration: underline;
  color: #1CC8EF;
}